{% extends 'base.html' %}

{% block content %}
{{error}}
<div class="container">
	<h2 align="center">Login!</h2>
	<center>
	<form action="{% url 'login' %}" class="form-group" method="post" style="width:40%;">{% csrf_token %}
		<br/>
		<input type="text" class="form-control" name="username" placeholder="Username" required>
		<br/><input type="password" class="form-control" name="password" placeholder="Password" required>
		<br/>
		<input type="submit" value="Login" class="btn btn-primary btn-md">
	</form>
	</center>
</div>


{% endblock %}
