{% extends 'base.html' %}

{% block content %}

    {{ error }}
    <div class="container">
        <div class="card login-panel" style="padding: 10px;">
            <h2 align="center">Sign Up!</h2>
            <p class="text-muted text-center">Two simple steps to Register.</p>
            <div class="login" style="text-align: center;display: flex;justify-content: center;">
                <form class="form-group" action="{% url 'signup' %}" method="post" style="width:40%;">{% csrf_token %}
                    <br/><input type="text" class="form-control" placeholder="Enter Username" name="username" required>
                    <br/><input type="email" class="form-control" placeholder="Enter Email" name="email" required>
                    <br/><input type="password" class="form-control" placeholder="Enter Password" name="password"
                                required>
                    <br/><input class="form-control" type="password" placeholder="Re-enter Password" name="cpassword"
                                required>
                    <br/>
                    <input type="submit" value="Submit" class="btn btn-primary btn-md">
                    <br/><br/>
                    Already a member. <a href="/accounts/login/">Login</a>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
