{% extends 'base.html' %}

{% block content %}

	{{error}}
	<div class="container">
		<h2 align="center">Sign Up!</h2>
		<form action="{% url 'signup' %}" method="post" style="padding: 50px 0 250px 500px;">{% csrf_token %}
			Name: <br/><input type="text" name="username" required>
			<br/>Password:<br/><input type="password" name="password" required>
			<br/>Confirm Password: <br/> <input type="password" name="cpassword" required>
			<br/><br/>
			<input type="submit" value="Submit" class="btn-primary btn-md">
		</form>
	</div>

{% endblock %}
