{% extends 'base.html' %}

{% block content %}
    <div class="container">
    <div class="jumbotron">
        {% for member in userdata %}
            <h1 class="display-4">{{ member.firstname }} {{ member.lastname }} </h1>
            <footer class="blockquote-footer">{{ member.bio }} as <cite
                    title="Source Title">{{ member.profession }}</cite></footer>
            <small class="text-muted"><i class="fas fa-map-marker-alt fa-sm"></i> &nbsp;{{ member.address }}</small>
            <form action="{% url 'users' member.user.username %}" style="margin-bottom: 5px;"
                  method="post">{% csrf_token %}
                <input type="hidden" name="member" value="{{ request.user.id }}">
                <input type="hidden" name="friend" value="{{ member.user }}">
                {% if request.user != member.user %}
                    <button type="button" class="btn btn-sm btn-dark mr-2" data-container="body" data-toggle="popover"
                            data-placement="top" style="float: right;"
                            data-content="Messaging Feature Coming Soon!" disabled>
                        Message
                    </button>
                    {% if is_friend == False %}
                        <button class="btn btn-sm btn-light mr-2" type="submit" style="float:right;">Add Friend</button>
                    {% endif %}
                {% endif %}
            </form>
        {% endfor %}
    </div>
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne"
                            style="text-decoration: none;color: black;">
                        Personal Information
                    </button>
                </h2>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    {% for member in userdata %}
                        <p class="card-text">First Name : {{ member.firstname }}</p>
                        <p class="card-text">Last Name : {{ member.lastname }}</p>
                        <p class="card-text">Date of Birth : {{ member.dob }}</p>
                        <p class="card-text">Date of Join : {{ member.join_date }}</p>
                        <p class="card-text">Profession : {{ member.profession }}</p>
                        <p class="card-text">Bio : {{ member.bio }}</p>
                        <p class="card-text">Location : {{ member.address }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <br/>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#">My Posts</a>
        </li>
    </ul>

    <table class="table table-hover mt-3">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Date Created</th>
        </tr>
        </thead>
        {% for post in posts %}
            <tbody>
            <tr>
                <td><a href="{% url 'detail' post.id %}">{{ post.title }}</a></td>
                <td>{{ post.pub_date_pretty }}</td>
            </tr>
            </tbody>
        {% endfor %}
    </table>

    </div>


{% endblock %}
