{% extends 'base.html' %}

{% block content %}
{{error}}
<div class="container">
	<h2 align="center">Create Product!</h2>
	<form action="{% url 'create' %}" enctype="multipart/form-data" method="post" style="padding: 50px 0 250px 500px;">{% csrf_token %}
		Title: <br/><input type="text" name="title" required>
		<br/>Body:<br/><input type="textbox" name="body" required>
    <br/>Url: <br/><input type="text" name="url" required>
    <br/>Icon: <br/><input type="file" name="icon" required>
    <br/>Image: <br/><input type="file" name="image" required>
		<br/><br/>
		<input type="submit" value="Add Product" class="btn-primary btn-md">
	</form>
</div>


{% endblock %}
