{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h2 class="lead">Most Popular</h2>
        <div class="left-section">
            {% for product in products %}
                <div class="popular">
                    <div class="popular-items">
                    <span onclick="window.location='{% url 'detail' product.id %}'" style="cursor: pointer;">
                        <img class="popularlogo" src="{{ product.image.url }}" alt="products" style="float:left;">
                        <div class="populartext">
                                <h5>{{ product.title }}</h5>
                            <h6>posted by {{ product.hunter }}</h6>
                        </div>
                    </span>
                    </div>
                    <div>
                        <p class="triangle-no"><i class="fas fa-angle-up"></i>{{ product.votes_total }}</p></button>
                    </div>
                </div>
            {% endfor %}
        </div>


    </div>

{% endblock %}
