{% extends 'base.html' %}

{% block content %}
<div class="container">
      <table class="table table-hover">
    <thead>
      <tr>
        <th colspan="4">Most Popular</th>
      </tr>
    </thead>
    {% for product in products %}
    <tbody>
      <tr onclick="window.location='{% url 'detail' product.id %}'" style="cursor: pointer;">
        <td><a href="javascript:{document.getElementById('detail').submit()}"><h2 class="lead">{{product.title}}</h2></a></td>
        <td><p class="lead"><small>by {{product.hunter}}</small></p></td>
        <td><i class="fas fa-angle-up"></i> {{ product.votes_total }}</td>
      </tr>
    </tbody>
    <form method="post" class="detail" action="{% url 'detail' product.id %}">{% csrf_token %}
      <input type="hidden" value="{{product.id}}">
    </form>
    {% endfor %}
</table>

</div>

{% endblock %}
