{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    {% for member in userdata %}
  <h1 class="display-4">Welcome, {{member.first_name}} {{member.last_name}} </h1>
  {% endfor %}
</div>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">My Posts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Edit Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Account Settings</a>
  </li>
</ul>

<table class="table table-hover mt-3">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Date Created</th>
      <th scope="col">Modify</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for post in posts %}
    <tr>
      <td><a href="{% url 'detail' post.id %}">{{post.title}}</a></td>
      <td>{{ post.pub_date_pretty }}</td>
      <td><button class="btn btn-success btn-sm" data-toggle="modal" data-target="#exampleModal">Edit Post</button></td>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <form class="form-group" action="{% url 'updatePost' post.id %}" method="post">{% csrf_token %}
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit {{post.title}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

                  <input type="text" class="form-control" name="title" value="{{post.title}}"><br>
                  <input type="text" class="form-control" name="url" value="{{post.url}}"><br>
                  <textarea class="form-control" name="body">{{post.body}}</textarea><br>
                  Image <input type="file" name="image">
                  Icon <input type="file" name="icon">

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
            </form>
          </div>
        </div>
      </div>
      <td><button class="btn btn-danger btn-sm"><a href="{% url 'delete' post.id %}" style="text-decoration:none;color:white;">Delete Post</a></button></td>
    </tr>
    {% endfor %}
  </tbody>
</table>




{% endblock %}
